base = ["Bash", "Git", "CMake", "Ninja", "Ccache", "Linux headers"]
required = [
    "{fmt}",
    "glslang",
    "pugixml",
    "ENet",
    "xxHash",
    "bzip2",
    "libLZMA",
    "Zstandard",
    "zlib",
    "minizip-ng",
    "LZO",
    "LZ4",
    "spng",
    "libusb",
    "libcurl",
    "HIDAPI",
]
optional = [
    "Qt 6",
    "OpenGL",
    "X11",
    "PkgConfig",
    "EGL",
    "FFmpeg",
    "libudev",
    "libevdev",
    "SDL",
    "libcubeb",
    "SFML",
    "miniupnpc",
    "MbedTLS 2",
    "iconv",
    "libmGBA",
    "systemd",
    "GoogleTest",
    "ALSA",
    "PulseAudio",
    "LLVM",
    "BlueZ",
    "gettext",
]
gcc = ["G++", "ld"]
clang = ["Clang++", "LLD", "compiler-rt", "LLVM archiver", "libc++", "libunwind"]

[env]
DOLPHIN_DIR = "/src/dolphin/"
CCACHE_DIR = "/tmp/ccache/"

[alpine]
quirks = ["SFML", "libmGBA", "libcubeb", "LLVM", "systemd"]

[arch]
quirks = ["libmGBA", "libcubeb"]

[fedora]
quirks = ["SFML", "MbedTLS 2", "libmGBA"]

[debian]
quirks = ["minizip-ng", "SFML", "MbedTLS 2", "libmGBA"]

[ubuntu]
quirks = ["MbedTLS 2", "libmGBA"]

[gentoo]
quirks = ["libmGBA"]